.Header {
  padding: 8px 0;
  width: 100%;
  background-color: #d2d1cd;
  &__col {
    margin: 0 auto;
    max-width: $width_col_base;
    display: flex;
    justify-content: center;
    color: #fff;
    @media screen and (max-width: $bp_01) {
      padding: 0 $unit_standard--sub;
    }
  }
  &__heading {
    font-weight: normal;
    @media screen and (max-width: $bp_01) {
      font-size: 26px;
    }
  }
  &__mark {
    margin-left: auto;
    margin-right: 10px;
    padding-top: 8px;
    display: block;
    font-size: 30px;
    line-height: 1;
    @media screen and (max-width: $bp_01) {
      padding-top:  4px;
    }
    :hover {
      font-size: 20px;
      transition: transform linear 0.8s;
      transform: translate(300px, 60px);
    }
  }
}
