.Header {
  padding: 8px 0;
  width: 100%;
  background-color: #d2d1cd;
  &__col {
    margin: 0 auto;
    max-width: $width_col_base;
    display: flex;
    justify-content: center;
    color: #fff;
    @media screen and (max-width: $bp_01) {
      padding: 0 $unit_standard--sub;
    }
  }
  &__heading {
    font-weight: normal;
    @media screen and (max-width: $bp_01) {
      font-size: 26px;
    }
    @media screen and (max-width: $bp_03) {
      font-size: 18px;
    }
  }
  &__mark {
    margin-left: auto;
    margin-right: 10px;
    padding-top: 8px;
    display: block;
    font-size: 30px;
    line-height: 1;
    @media screen and (max-width: $bp_01) {
      padding-top:  4px;
    }
    @media screen and (max-width: $bp_03) {
      padding-top: 2px;
      font-size: 24px;
    }
    :hover {
      transition: all linear 0.8s;
      transform: translate(60px, 10px);
      color: #d2d1cd;
      @media screen and (max-width: $bp_02) {
        transform: translate(40px, 10px);
      }
      @media screen and (max-width: $bp_03) {
        transition: all linear 0.6s;
        transform: translate(20px, 10px);
      }
    }
  }
}
