.Pics {
  &__col {
    margin: 0 auto;
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 30%;
    margin-bottom: 36px;
    line-height: 0;
  }
  &__img {
    width: 100%;
  }
}