.Pics {
  padding-top: 36px;
  &__col {
    margin: 0 auto;
    width: $width_col_base;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 30%;
    margin-bottom: 36px;
    line-height: 0;
    &:nth-child(3n+2):last-child {
      margin-right: auto;
      margin-left: calc(10% / 2);
    }
  }
  &__img {
    width: 100%;
  }
}