.Pics {
  padding-top: $unit_standard;
  &__col {
    margin: 0 auto;
    padding: 0 $unit_standard--sub;
    max-width: $width_col_base;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: $bp_01) {
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 30%;
    margin-bottom: $unit_standard;
    line-height: 0;
    @media screen and (max-width: $bp_02) {
      width: 48%;
    }
    &:nth-child(3n+2):last-child {
      margin-right: auto;
      margin-left: calc(10% / 2);
    }
  }
  &__img {
    width: 100%;
  }
}